# Eclipse / Spring Tools
.metadata/
.classpath
.project
.settings/
*.launch

# Maven build output
target/
src/main/resources/hibernate.cfg.xml

# IDE khác
.idea/
*.iml

docker-compose.yml
.env

target/classes/hibernate.cfg.xml
/src/main/resources
/target/classes

# Thư mục build
bin/

# Thư viện Maven tải về (quan trọng nhất)
.m2/
repository/

# File hệ thống
.DS_Store
Thumbs.db

# Chặn thư viện của Node.js / Frontend
node_modules/
dist/
.npm/